<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

	<targets>
		<target xsi:type="File" name="File" fileName="log.log"
		        deleteOldFileOnStartup="true"
		>
			<layout xsi:type='CompoundLayout'>
				<layout xsi:type="JsonLayout" includeEventProperties="true" IncludeScopeProperties="true">
					<attribute name="time" layout="${longdate}" />
					<attribute name="level" layout="${level:upperCase=true}"/>
					<attribute name="message" layout="${message}" />
					<attribute name="exception" layout="${exception:format=@}" encode="false"/>
				</layout>
				<layout type='SimpleLayout' text="," />
			</layout>
		
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="File" />
	</rules>
</nlog>